<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>OTSVis: {{pagetitle}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="lib/bootstrap-3.3.6/css/bootstrap.min.css">
	{{#if libBootstrapSlider}}<link rel="stylesheet" href="lib/bootstrap-slider-6.0.17/css/bootstrap-slider.min.css">{{/if}}
	{{#if libFontAwesome}}<link rel="stylesheet" href="lib/font-awesome-4.5.0/css/font-awesome.min.css">{{/if}}
	{{#if libCanvasPlot}}<link rel="stylesheet" href="css/canvasplot.css">{{/if}}
	<link rel="stylesheet" href="css/otsvis.css">
	<script src="lib/jquery/jquery-2.2.3.min.js" charset="utf-8"></script>
	{{#if libBootstrapJS}}<script src="lib/bootstrap-3.3.6/js/bootstrap.min.js" charset="utf-8"></script>{{/if}}
	{{#if libBootstrapSlider}}<script src="lib/bootstrap-slider-6.0.17/bootstrap-slider.min.js" charset="utf-8"></script>{{/if}}
	{{#if libD3js}}<script src="lib/d3-3.5.16/d3.min.js" charset="utf-8"></script>{{/if}}
	{{#if libCanvasPlot}}<script src="js/canvasplot.js" charset="utf-8"></script>{{/if}}
</head>
<body>
<div id="maincontainer" class="container-fluid">
	<div class="row" id="rowNavBar">
		<div class="col-lg-12">
			<ul class="nav nav-tabs" style="margin: 5px 0px 15px 0px;">
				<li{{#if navManagement}} class="active"{{/if}}><a href="/manage.html{{#if authToken}}?authToken={{authToken}}{{/if}}">Manage Time Series</a></li>
				<li{{#if navExploration}} class="active"{{/if}}><a href="/{{#if authToken}}?authToken={{authToken}}{{/if}}">Time Series Exploration</a></li>
				<li{{#if navSpatialAnalysis}} class="active"{{/if}}><a href="/spatial_analysis.html{{#if authToken}}?authToken={{authToken}}{{/if}}">Spatial Analysis</a></li>
				<li{{#if navPatternDiscovery}} class="active"{{/if}}><a href="/pattern_discovery.html{{#if authToken}}?authToken={{authToken}}{{/if}}">Temporal Pattern Discovery</a></li>
			</ul>
		</div>
	</div>

	{{{body}}}
</div>
</body>
</html>
